:root {
  --hover-blue: #2b7de9;
  --blue: #1a73e8;
  --gray: #f2f2f2;
  --link-gray: #70757a;
  --white: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  font-size: 10px;
  height: 100vh;
  position: relative;
}
nav {
  display: flex;
  justify-content: flex-end;
}
nav ol {
  list-style: none;
  display: flex;
  align-items: center;
}
nav ol li {
  font-size: 13px;
  font-weight: 400;
  margin: 5px;
}
nav ol li:hover {
  cursor: pointer;
  text-decoration: underline;
}
nav ol li img {
  margin: 0 1rem;
  border-radius: 50%;
  padding: 0.5rem;
}
nav ol li img:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

nav ol li button {
  cursor: pointer;
  border: none;
  background-color: var(--blue);
  padding: 0.5rem 1.5rem;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.search-bar {
  max-width: 582px;
  width: 100%;
  max-height: 44px;
  height: 100%;
  border: 1px solid #e9e9e9;
  border-radius: 1.2rem;
  padding: 5px;
  position: relative;
  margin: 2rem 0 1rem 0;
}
.search-bar:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.search-bar .search {
  position: absolute;
  top: 2px;
  left: 10px;
}
.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}
.search-bar .mic {
  position: absolute;
  top: 0;
  right: 10px;
}
.container button {
  background-color: #f8f9fa;
  font-size: 15px;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0.5rem 2rem 0;
  border-radius: 4px;
  border: none;
}
.container button:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.covid-19 {
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  margin: 0 0 2rem 0;
  color: #1a0dab;
}
.covid-19:hover {
  text-decoration: underline;
}
.languages {
  font-size: 13px;
  margin: 0 0 2rem 0;
  text-align: center;
}
.languages a {
  text-decoration: none;
  margin-right: 5px;
  color: #1a0dab;
}

.languages a:hover {
  text-decoration: underline;
}

footer {
  background-color: var(--gray);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 15px;
  color: var(--link-gray);
}
.india {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}
.footer-links ol {
  display: flex;
  list-style: none;
}
.footer-links ol li a {
  text-decoration: none;
  color: var(--link-gray);
  margin: 0.5rem;
}
.footer-links ol li a:hover {
  text-decoration: underline;
}
@media all and (max-width: 610px) {
  .footer-links {
    flex-direction: column;
    padding: 0;
    margin: 0;
    height: auto;
    font-size: 13px;
  }
  .search-bar {
    width: 80%;
  }
  .footer-links ol {
    flex-wrap: wrap;
  }
  .container button {
    font-size: 13px;
    margin: 0.5rem 0.5rem 0.5rem 0;
  }
  .covid-19 {
    font-size: 14px;
  }
  .container .google-logo {
    width: 200px;
  }
}
@media (max-width: 320px) {
  .feeling {
    display: none;
  }
  .languages {
    display: none;
  }
}
